body {
  margin: 0 auto;
  max-width: 1440px;
}




.content-section {
  margin: 0 auto;
  max-width: 1340px;
  width: 100%;
}

main {
  flex-direction: column;
  gap: 183px;
  display: flex;
}





.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  align-self: center;
  display: block;
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__address {
  font-style: inherit;
  justify-self: end;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}




.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 50px 50px;
  position: relative;
}

.overlay {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.cover__title {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  gap: 20px;
  letter-spacing: 30px;
  line-height: 1.15;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  align-items: center;
  display: flex;
  gap: 78px;
  justify-content: flex-end;
  padding: 136px 0 0;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  padding: 14px 32px;
  text-transform: uppercase;
}

.bet-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}




.lots {
  padding: 0 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding: 0 0 30px 40px;
  text-transform: uppercase;
}

.lots__card-list {
  column-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.lots__card-list-item {
  height: 100%;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: space-between;
  padding: 50px 40px;
  position: relative;
  width: auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin: 30px 0 0 40px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}




.about {
  column-gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2 / 4;
}

.about__logo {
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  height: 240px;
  justify-content: center;
  width: 240px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding: 100px 0 104px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}



.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  height: 48px;
  width: auto;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
