main {
  gap: 183px;
  flex-direction: column;
  display: flex;
}

.content-section {
  margin: 0 auto;
  width: 100%;
}


.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 87px 58px 91px 53px;
}

.header__links-list {
  gap: 32px;
  display: flex;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  align-self: center;
  display: block;
  justify-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  padding: 0px 25px 0px 0px;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}


.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 50px 50px 50px;
  position: relative;
}

.overlay {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.cover__title {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: bold;
  gap: 20px;
  letter-spacing: 30px;
  line-height: 1.15;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  align-items: center;
  display: flex;
  gap: 78px;
  justify-content: flex-end;
  padding: 136px 1px 0px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 1px #fff solid;
  color: #fff;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  padding: 14px 32px;
  text-transform: uppercase;
}

.bet-button:hover {
  background-color: #fff;
  color: #000000;
}


.lots {
  padding: 0px 23px 0px 23px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding: 1px 0px 31px 42px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  min-height: 563px;
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 563px;
  padding: 47px 40px 50px 39px;
  position: relative;
  width: auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin: 28px 0px 0px 41px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}


.about {
  column-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 27px 0px 26px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo {
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  height: 240px;
  justify-content: center;
  width: 240px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding: 103px 0 103px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 19px 60px 54px;
}

.footer__social-icon {
  height: 48px;
  width: auto;
}

.footer__menu-list {
  list-style: none;
  padding: 3px 68px 0px 100px;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0px 31px 0px 0px;
}
