* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1100px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}


.content-section {
  margin: 0 auto;
  max-width: 1340px;
  width: 100%;
  padding: 0 50px;
}

main {
  flex-direction: column;
  gap: 180px;
  display: flex;
}


.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-position: under;
  border-bottom: 1px solid transparent;
  font-family: Raleway, sans-serif;
}

.header__link_active {
  text-decoration: none;
}

.text-link {
  text-decoration: none;
  color: inherit;
  font-family: Raleway, sans-serif;
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  line-height: 1.35;
  font-family: Raleway, sans-serif;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address__item {
  display: block;
  font-size: 18px;
  text-underline-position: under;
}


.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 50px 50px;
  position: relative;
}

.overlay {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.cover__title {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 1.15;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  font-family: Raleway, sans-serif;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  padding-right: 30px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  font-family: Raleway, sans-serif;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 32px;
  text-transform: uppercase;
}

.bet-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}


.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 27px 40px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: nowrap;
}

.lots__card-list-item {
  flex: 1;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
  font-family: Raleway, sans-serif;
}

.card__text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin: 30px 0 0 40px;
  text-underline-position: under;
  width: fit-content;
  font-family: Raleway, sans-serif;
}


.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  align-items: start;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 95px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  margin: 100px 0 100px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
  font-family: Raleway, sans-serif;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 180px 0 90px;
}

.footer__address {
  max-width: 240px;
  font-family: Raleway, sans-serif;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-position: under;
  font-family: Raleway, sans-serif;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
